@import 'styles/colors.scss';
@import 'styles/dimensions.scss';
@import 'styles/_mixins.scss';

.layout {
    overflow: hidden;
    overflow-y: auto;

    min-height: 100vh;
    background: $bg-color;
    background-repeat: repeat-y;
    background-attachment: fixed;

    &__main {
        background: url('/bg.png');
        background-size: contain;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: bottom 1rem right -100%;

        &__content {
            min-height: 90vh;
            background: url('/figure.png');
            background-repeat: no-repeat;
            background-size: 25%;
            background-position: center bottom;

            padding: $content-padding;
            margin-top: $header-height;
        }
    }

    &__footer {
        color: $dark-50;
        font-size: 15px;
        text-align: center;
        padding: calc(#{$padding} * 1.5) $content-padding;
    }

    @include mediaLG {
        &__main {
            background-position: top 0 right -180%;
            background-size: 80%;
            &__content {
                background-size: 35%;
                background-position: right 5rem bottom;
            }
        }
    }

    @include mediaMD {
        &__main {
            background-size: 80%;
            background-position: top 0 right -100%;
            &__content {
                background: unset;
            }
        }
    }

    @include mediaSM {
        &__main {
            background-size: 80%;
            background-position: top 0 right -100%;
            &__content {
                background: unset;
                padding: $mobile-content-padding;
            }
        }
        &__footer {
            padding: $mobile-content-padding;
        }
    }

    @include mediaXS {
        &__main {
            background-size: 80%;
            background-position: top 0 right -100%;
            &__content {
                background: unset;
                padding: $padding;
            }
        }
        &__footer {
            padding: $mobile-content-padding;
        }
    }
}
