$primary: #fd4b24;
$success: #1dd3b0;
$error: #ef476f;
$warning: #f07f34;
$neutral: #f9fcff;
$white: #ffffff;
$black: #000000;
$yellow: #ffc300;
$gray: #f8f9fa;
$default: #e9ecef;
$bg-color: #2a0a4a;

$light: rgba(
    $color: $white,
    $alpha: 0.8,
);
$light-60: rgba(
    $color: $white,
    $alpha: 0.6,
);

$light-30: rgba(
    $color: $white,
    $alpha: 0.3,
);

$dark: rgba(
    $color: $black,
    $alpha: 0.65,
);
$dark-60: rgba(
    $color: $black,
    $alpha: 0.6,
);
$dark-50: rgba(
    $color: $black,
    $alpha: 0.5,
);
$dark-30: rgba(
    $color: $black,
    $alpha: 0.3,
);

$dark-10: rgba(
    $color: $black,
    $alpha: 0.1,
);

$bg-color-50: rgba(
    $color: $bg-color,
    $alpha: 0.5,
);
$bg-color-80: rgba(
    $color: $bg-color,
    $alpha: 0.8,
);
