$padding: 24px;
$modal-padding: 72px;

$header-height: 64px;
$mobile-header-height: 56px;

$sm-size: 576px;
$md-size: 768px;
$lg-size: 992px;
$xl-size: 1200px;

$content-padding: 80px;
$mobile-content-padding: $padding;

$logo-size: 180px;
$mobile-logo-size: 120px;

$logo-bg-size: 85%;

$max-logo-width: 200px;
$min-logo-height: 60px;

$border-radius: 4px;
